<html>
<head>
    <title>Push Demo</title>
    <script type="application/javascript" src="/js/web-push.js"></script>
</head>

<body>
Service Worker Demo
<button id="enable">Enable notifications</button>
</body>
<script>
</script>
</html>
